/* Estilos del navbar */
.navBar > .left > #btnAtras{
    background-image: url('../Images/Botones/Atras.png');
}
.navBar > .center > #nameUser{
    color: #fff;
    font-family: 'Merienda One', cursive;
    font-size: 1.5rem;
}

/* Estilos del pagecontent */
.pageContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.btnGame{
    width: 300px;
    height: 300px;
    margin: 2vh auto;
    background: #ffef97ee;
    box-shadow: inset 0 0 100px #000;
    border: none;
    border-radius: 80px;
    background-size: 260px;
    background-repeat: no-repeat;
    background-position: center;
    transition: .6s;
}
.btnGame:hover{
    background-size: 240px;
}
#btnJungla{
    background-image: url('../Images/Fondos/FondoJungla.png') !important;
}
#btnEspacio{
    background-image: url('../Images/Fondos/FondoEspacio.png') !important;
}
#btnRompecabezas{
    background-image: url('../Images/Fondos/FondoRompecabezas.png') !important;
}
#btnKahoot{
    background-image: url('../Images/Fondos/FondoKahoot.png') !important;
}
#btnSopaLetras{
    background-image: url('../Images/Fondos/FondoSopaLetras.png') !important;
}